<section class="order_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>Order Online</h2>
    </div>
    <form action="">
      <div>
        <input type="text" class="form-control" placeholder="Your Name" />
      </div>
      <div>
        <input type="text" class="form-control" placeholder="Phone Number" />
      </div>
      <div>
        <input type="email" class="form-control" placeholder="Your Email" />
      </div>
      <div>
        <textarea class="form-control" placeholder="Your Order Details"></textarea>
      </div>
      <div class="btn_box">
        <button type="submit">Place Order</button>
      </div>
    </form>
  </div>
</section>
